/* =============================================================
   Portfolio Website CSS
   Author : Lehlogonolo Mokadikwa
   Project : Personal Portfolio Website
   Version : 1.0.0

   This stylesheet contains the global styles,
   design system and reusable components.
=============================================================*/

/* =============================================================
    GOOGLE FONTS
=========================================================*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family= Outfit:wght@400;500;600;700;800&display=swap');

/* ========================================================

    CSS RESET

=========================================================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =============================================================
    DESIGN SYSTEM
=============================================================*/

:root {

    /* Colors */

    --background: #0A192F;
    --surface: #112240;
    --card: #1E293B;

    --primary: #2563EB;
    --primary-hover: #3B82F6;

    --success: #10B981;
    --warning: #F59E0B;

    --white: #F8FAFC;
    --text: #E2E8F0;
    --text-secondary: #94A3B8;

    --border: #334155;

    /* Fonts */

    --heading-font: 'Outfit', sans-serif;
    --body-font: 'Inter', sans-serif;

    /* Spacing */

    --space-xs: 8px;
    --space-sm: 16px;
    --space-md: 24px;
    --space-lg: 32px;
    --space-xl: 48px;
    --space-2xl: 64px;

    /* Border Radius */

    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 18px;

    /* Shadows */

    --shadow-small: 0 4px 10px rgba(0, 0, 0, .15);
    --shadow-medium: 0 8px 25px rgba(0, 0, 0, .25);

}

/*==============================================================
    GLOBAL STYLES
==============================================================*/

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background);
    color: var(--text);
    font-family: var(--body-font);
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

/*==============================================================
    HEADER
==============================================================*/

header {
    width: 100%;
    padding: 20px 8%;
}

/*==============================================================
    NAVIGATION
==============================================================*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: var(--heading-font);
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--white);
    letter-spacing: 2px;
}

nav ul {
    display: flex;
    gap: 2rem;
}

nav a {
    color: var(--text);
    font-weight: 500;
    transition: .3s ease;
}

nav a:hover {
    color: var(--primary);
}

/*==============================================================
    HERO SECTION
==============================================================*/

.hero {
    min-height: 90vh;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 8%;
}

.hero-content {
    max-width: 800px;

}

.hero-tag {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 18px;
    border-radius: 999px;
    background: rgba(37, 99, 235, .15);
    color: var(--primary);
    font-size: .9rem;
    font-weight: 600;
}

.hero h1 {
    font-family: var(--heading-font);
    font-size: 4rem;
    font-weight: 800;
    color: var(--white);
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero h2 {
    font-size: 1.5rem;
    color: var(--primary);
    font-weight: 500;
    margin-bottom: 25px;
}

.hero p {
    font-size: 1.1rem;
    color: var(--text-secondary);
    line-height: 1.8;
    margin-bottom: 40px;
    max-width: 700px;
}

.hero-buttons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.primary-btn {
    display: inline-block;
    padding: 12px 30px;
    background: var(--primary);
    color: var(--white);
    border-radius: var(--radius-md);
    font-weight: 600;
    transition: .3s ease;
}

.primary-btn:hover {
    background: var(--primary-hover);
    transition: translateY(-2px);
}

.secondary-btn {
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid var(--primary);
    color: var(--primary);
    border-radius: var(--radius-md);
    font-weight: 600;
    transition: .3s ease;
}

.secondary-btn:hover {
    background: var(--primary);
    color: var(--white);
}